---
 import { SCORE_API_ENDPOINT } from "astro:env/server";

    const res = await fetch(SCORE_API_ENDPOINT)
    const scoreValue = await res.text()
    const cleanScoreValue = scoreValue.replace(/[\{\}]/g, '');
    console.log(cleanScoreValue)
       
---

<span class="text-xs" id="score">
    ⭐ Puntuación: {cleanScoreValue.trim()}/5
</span>